.flow-diagram {
  margin-right: 50%;
  padding: 0 30px;

  ul {
    padding: 0;

    li {
      code {
        font-size: 10px;
        background: none;
        padding: 0 10px 0 0;
        white-space: nowrap;

        em {
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }

  &__section,
  &__item {
    padding: 20px;
    border: 1px solid $gray-light;
    border-radius: 4px;
    display: block;
    list-style: none;
    margin: 0 0 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__section {
    background: $gray-ultralight;
  }

  &__item {
    background: #fff;
    overflow-x: scroll;
  }

  .for-each {
    padding: 10px;
    border: 1px dashed $gray-medium;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;

    &:before {
      background: $gray-ultralight;
      content: 'for each part';
      padding: 0 3px;
      position: absolute;
      font-size: 12px;
      font-weight: 500;
      left: 7px;
      top: -6px;
    }
  }


  h3, h4 {
    margin: 0;
  }

  h3 {
    font-size: 16px;
    color: $gray-dark;
  }

  h4 {
    font-size: 14px;
    color: $gray-dark;
  }

  p {
    font-size: 12px;
    line-height: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}