@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

@font-face {
  font-family: 'Actief Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ActiefGrotesque-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Actief Grotesque';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ActiefGrotesque-Medium.woff') format('woff');
}
