.sdks {
  .sdk {
    display: flex;
    padding: 20px;
    align-items: center;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    &__logo {
      width: 32px;
      margin-right: 20px;
      height: auto;
      display: block;
    }

    .info {
      flex-grow: 1;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 16px;
      color: #3c3c3c;
    }

    p {
      font-size: 12px;
      margin-bottom: 2px;
    }

    .button {
      display: block;
      padding: 0 20px;
      text-decoration: none;
      background: #fff;
      border: 1px solid $gray-dark;
      border-radius: 4px;
      color: $gray-dark;
      font-size: 12px;
      font-weight: 500;
      line-height: 32px;

      &:hover {
        border-color: #000;
        color: #000;
      }
    }

    &.coming-soon {
      p {
        opacity: 0.6;
      }
    }
  }
}
