.sdks {
  .sdk {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em;
    align-items: center;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    margin-bottom: 1em;

    &:last-child {
      margin-right: 0;
    }

    &__logo {
      height: auto;
      display: block;
      width: 10%;
      margin-right: 5%;
    }

    .info {
      width: 80%;
      margin-bottom: 5px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 1.2em;
      color: #3c3c3c;
    }

    p {
      font-size: 0.8em;
      margin-bottom: 2px;
    }

    .button {
      display: block;
      margin-left: 15%;
      padding: 0 20px;
      text-decoration: none;
      background: #fff;
      border: 1px solid $gray-dark;
      border-radius: 4px;
      color: $gray-dark;
      font-size: 0.8em;
      font-weight: 500;
      line-height: 32px;

      &:hover {
        border-color: #000;
        color: #000;
      }
    }

    &.coming-soon {
      p {
        opacity: 0.6;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .sdks {
    .sdk__logo {
      width: 2em;
      margin-right: 1em;
    }
    .sdk {
      .info {
        flex-grow: 1;
        width: inherit;
      }
      .button {
        margin-left: 0;
      }
    }
  }
}
