body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $gray-dark;
}

p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.intro {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 23px;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 28px;
  line-height: 42px;

  @media(max-width: 768px) {
   font-size: 22px;
   line-height: 32px;
  }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
}